@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600&display=swap');

body {
  background-image: url("/src/assets/images/background.gif");
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
}

.color-nav {
  background-color: transparent;
  border: none;
}

.card-block {
 opacity: .9;
}

.card-input {
  opacity: .8;
 }

a:link {
  color: #2D5987;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #2D5987;
  background-color: transparent;
  text-decoration: none;
}

h2 {
  font-weight: 550;
}