@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  background-image: url("/src/assets/images/background.gif");
  background-size: cover;
  font-family: 'Roboto Mono', monospace;
}

.color-nav {
  background-color: transparent;
  border: none;
}

.card-block {
 opacity: .9;
}